<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="/" class="close">&times;</a>
  </div>
<% end %>

<h1>Welcome to Bookmark Manager</h1>

<ol>
  <% @links.each do |link| %>
  <li><a href="<%= link.url %>"><%= link.title %></a>
    <form action="/update" method="post">
      <input type="hidden" name="id" value="<%= link.id %>">
      <input type="submit" value="Edit <%= link.title %>">
    </form>
    <form action="/delete" method="post">
      <input type="hidden" name="id" value="<%= link.id %>">
      <input type="submit" value="Delete <%= link.title %>">
    </form>
  </li>
  <% end %>
</ol>

<form action="/add">
  <input type="submit" value="Add">
</form>

<form action="/delete">
  <input type="submit" value="Delete">
</form>
